@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.line {
  margin: 100px auto;
  text-align: center;
  font-size: 10px;
}

.line > div {
  background-color: #333;
  height: 100%;

  display: inline-block;
  
  -webkit-animation: load-lines 1s infinite ease-in-out;
  animation: load-lines 1s infinite ease-in-out;
}

.line .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.line .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.line .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.line .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes load-lines {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes load-lines {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}